/* 热度排行 */
.redupaihang {
  font-family: "redupaihang" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'redupaihang';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_qnmji9vri7r.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_qnmji9vri7r.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_qnmji9vri7r.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_qnmji9vri7r.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_qnmji9vri7r.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_qnmji9vri7r.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}

/* 可爱的作者们~ */
.keaidezuozhemen {
  font-family: "keaidezuozhemen" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'keaidezuozhemen';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_7k9fck4fq4i.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_7k9fck4fq4i.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_7k9fck4fq4i.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_7k9fck4fq4i.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_7k9fck4fq4i.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_7k9fck4fq4i.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}

/* 瞧一瞧看一看拉~ */
.qiaoyiqiao {
  font-family: "qiaoyiqiao" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'qiaoyiqiao';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_7fjrmru97x.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_7fjrmru97x.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_7fjrmru97x.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_7fjrmru97x.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_7fjrmru97x.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_7fjrmru97x.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}


/* 皮一下 */
.piyixia {
  font-family: "piyixia" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'piyixia';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_30pssh2lv4x.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_30pssh2lv4x.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_30pssh2lv4x.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_30pssh2lv4x.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_30pssh2lv4x.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_30pssh2lv4x.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}



/* 撩一下 */
.liaoyixia {
  font-family: "liaoyixia" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'liaoyixia';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_frim1ndbmcb.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_frim1ndbmcb.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_frim1ndbmcb.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_frim1ndbmcb.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_frim1ndbmcb.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_frim1ndbmcb.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}


/* 小故事 */
.xiaogushi {
  font-family: "xiaogushi" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'xiaogushi';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_jreu0jb77l.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_jreu0jb77l.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_jreu0jb77l.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_jreu0jb77l.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_jreu0jb77l.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_jreu0jb77l.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}

/* 搜索结果 */
.sousuojieguo {
  font-family: "sousuojieguo" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'sousuojieguo';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_se3gsmism4k.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_se3gsmism4k.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_se3gsmism4k.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_se3gsmism4k.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_se3gsmism4k.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_se3gsmism4k.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}


/* 啥也没搜到建议... */
.shayemeisoudao {
  font-family: "shayemeisoudao" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'shayemeisoudao';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_mrtt7zqv3q.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_mrtt7zqv3q.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_mrtt7zqv3q.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_mrtt7zqv3q.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_mrtt7zqv3q.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_mrtt7zqv3q.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}


/* 音咚 yindong YinDong */
.yindong {
  font-family: "yindong" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'yindong';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_7u83gec7rpt.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_7u83gec7rpt.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_7u83gec7rpt.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_7u83gec7rpt.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_7u83gec7rpt.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_7u83gec7rpt.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}


/* 啥也没搜到建议... */
.wenzhangxingqing {
  font-family: "wenzhangxingqing" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'wenzhangxingqing';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_5qwkvs8mj03.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/webfont_5qwkvs8mj03.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_5qwkvs8mj03.woff2') format('woff2'),
    url('//at.alicdn.com/t/webfont_5qwkvs8mj03.woff') format('woff'),
    /* chrome、firefox */
    url('//at.alicdn.com/t/webfont_5qwkvs8mj03.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_5qwkvs8mj03.svg#杨任东竹石体-Bold') format('svg');
  /* iOS 4.1- */
}